.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #42b983;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
}

.cart-list {
    width: 70%;
    margin-right: 1rem;

    @media only screen and (max-width: 832px) {
        width: 100%;
    }
}

.cart-list__item {
    width: 100%;
    border-bottom: 1px solid #2c3e50;
}

.cart-list__item__details {
    flex: 2;
    justify-content: space-between;
    margin-left: 2rem;
}

.cart-list__btn-remove {
    margin-top: .5rem;

    &:hover {
        color: red;
    }
}

.thumbnail {
    max-width: 50px;
    margin-top: .5rem;
}

.total-section {
    background: #FAFAFA;
    padding: 0 1rem 1rem;
}

.total-section-list {
    margin: 0;
}

.total-section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-section__item__label {
    font-weight: bold;
    margin-right: 1rem;
}

.total-section__checkout-button {
    width: 100%;
}

.flex-col {
    display: flex;
    align-items: flex-start;
}

.flex-col--2 {
    width: 50%;
}

.flex-justify-right {
    text-align: right;
}

.flex-col--align-center {
    align-items: center;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}